<% if not flash.now[:notice_err].blank? %>
	<div id="notice_err" ><%= flash.now[:notice_err] %></div>
<% end %>
<fieldset id="property_field" align="left" style="padding-top:10px; margin-bottom:30px; background: lightgrey;">
    <legend style="background: steelblue;">
		<% case @type_field
			when "category" %>
				<%= modify_property.blank? ? "新規分類属性" : "分類属性編集" %>
			<% when "text" %>
				<%= modify_property.blank? ? "新規文字属性" : "文字属性編集" %>
			<% when "time" %>
				<%= modify_property.blank? ? "新規時間属性" : "時間属性編集" %>
		<% end %>
	</legend>
	<% form_remote_tag :url => { :action => "create_or_update_property" } do %>
		<table class="property_list">
			<thead>
				<tr>
					<th colspan=5 style="text-align:left;">
						<%= submit_tag '保存' %>
						<%= hidden_field_tag :type_field, @type_field %>
						<%= hidden_field_tag :section, @section %>
						<%= hidden_field_tag :id, modify_property.id unless modify_property.blank? %>
					</th>
				</tr>
				<tr>
					<th width="60px">保存用ID</th>
					<td width="400px">
						<% if modify_property.blank? %>
							<%= text_field_tag "string", "英数字と_のみ", :onclick=>"clear()", :class=>'text-field', :style=>"width:100%;" %>
						<% else %>
							<%= text_field_tag 'string', modify_property.property_string, :class=>'text-field', :style=>"width:100%;" %>
						<% end %>
					</td>
					<td width="60px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<th width="100px">表示用名前</th>
					<td width="400px">
						<% if modify_property.blank? %>
							<%= text_field_tag "human_name", nil, :class=>'text-field', :style=>"width:100%;" %>
						<% else %>
							<%= text_field_tag 'human_name', modify_property.human_name, :class=>'text-field', :style=>"width:100%;" %>
						<% end %>
					</td>
				<tr>
					<th>記述</th>
					<td>
						<% if modify_property.blank? %>
							<%= text_field_tag "desc", nil, :class=>'text-field', :style=>"width:100%;" %>
						<% else %>
							<%= text_field_tag 'desc', modify_property.description, :class=>'text-field', :style=>"width:100%;" %>
						<% end %>
					</td>
					
					
					<% case @type_field
						when "category" %>
							<td colspan=3></td>
						<% when "text" %>
							<td></td>
							<th>デフォルト値</th>
							<td>
								<% if modify_property.blank? %>
									<%= text_field_tag "default_value", nil, :class=>'text-field', :style=>"width:100%;" %>
								<% else %>
									<%= text_field_tag 'default_value', modify_property.default_value, :class=>'text-field', :style=>"width:100%;" %>
								<% end %>
							</td>
						<% when "time" %>
							<td></td>
							<th>デフォルト値</th>
							<td>
								<% if modify_property.blank? %>
									<%= datetime_select("default_value", "section", {:use_month_numbers => true, :include_blank => true}) %>
								<% else %>
									<%= select_datetime(@time, :use_month_numbers => true, :include_blank => true, :prefix=>"default_value") %>
								<% end %>
							</td>
					<% end %>
					
					
				</tr>
			</thead>
		</table>
	<% end %>
</fieldset>
<%= javascript_tag render(:update) { |page| page['property_field'].visual_effect :highlight } %>