<% case params[:domain]
	when "jp"
		create_string = "新規"
		modify_string = "編集"
		save_string = "保存"
		msg_string = "区切り符号指定してから、多段入力できます。"
		add_field_string = "フィールド追加"
		note_string = '注:'
	when "cn"
		create_string = "创建"
		modify_string = "编辑"
		save_string = "保存"
		msg_string = "在指定了分隔符号之后，就能创建多层的属性"
		add_field_string = "增加层次"
		note_string = '注:'
	when "en"
		create_string = "Create"
		modify_string = "Modify"
		save_string = "Save"
		msg_string = "You can create multiple level property after specifying a seperator."
		add_field_string = "Add Field"
		note_string = "Note:"
end %>

<% form_remote_tag :url => { :action => :save_category_item, :domain=>params[:domain] } do %>
	<a id="top" name="top" href="#" STYLE="text-decoration:none"></a>
	<fieldset id="category_item" align="left" style="width:960px; padding-top:10px; margin-bottom:10px; background: lightgrey;">
	    <legend style="background: steelblue;">
			<% if @property_id == 0 %>
				<%= create_string %><%= h(@human_name) %>
			<% else %>
				<%= h(@human_name) %><%= modify_string %>
			<% end %>
		</legend>
		<table style="width:100%;">
			<tr>
				<td width=80px style="text-align:center;">
					<%= submit_tag save_string %>
					<%= hidden_field_tag :id, @property_id %>
					<%= hidden_field_tag :seperator, @seperator %>
					<%= hidden_field_tag :string, @string %>
					<%= hidden_field_tag :human_name, @human_name %>
					<%= hidden_field_tag :desc, @desc %>
				</td>
				<td>
					<% if @property_id == 0 %>
						<% if @seperator.blank? %>
							<%= msg_string %>
						<% else %>
							<input type="button" value=<%= add_field_string %> onclick="addField('level_area','level', '<%= @string %>');" />
						<% end %>
					<% else %>
						<% temp = verify_domain(params[:domain])['Property'].constantize.find(@property_id).sub_tree_items.size %>
						<% if temp > 1 %>
							<% case params[:domain]
								when "jp" %>
									フィールドを変更すると、このitem以下の<span style="color:red;"><%= temp %>個</span>のitemをすべて変更します。
								<% when "cn" %>
									更新后、这个item以下的<span style="color:red;"><%= temp %>个</span>item全部自动更新。
								<% when "en" %>
									After modified、there are <span style="color:red;"><%= temp %>items</span> under this item will all be updated.
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td>
					<%= note_string %>
					<% if @property_id == 0 %>
						<%= text_field_tag 'explanation', nil, :class => 'text-field' %>
					<% else %>
						<%= text_field_tag 'explanation', @explanation, :class => 'text-field' %>
					<% end %>
				</td>
			</tr>
		</table>
		<table style="width:100%;">
			<tr>

				<td id='level_area' align="left">
					<% if @property_id == 0 %>
						<span style="padding-left:10px; padding-right:7px;">
							<input id="level1" class="text-field" type="text" value="" style="width: 18%;" name="<%= @string %>[level1]"/>
						</span>
					<% else %>
						<% for index in 0..@property_item.size-1 %>
							<span style="padding-left:10px; padding-right:7px;">
								<input id=<%= 'level'+(index+1).to_s %> class="text-field" type="text" value=<%= @property_item[index] %> style="width: 18%;" name=<%= @string+'[level'+(index+1).to_s+"]" %> <%= 'DISABLED' if index+1<@property_item.size %>/>
							</span>
							<% if (index+1)%4==0 %>
								<p>
							<% end %>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</fieldset>
<% end %>
<%= javascript_tag render(:update) { |page| page['top'].focus } %>
<%= javascript_tag render(:update) { |page| page['category_item'].visual_effect :highlight } %>