<% form_remote_tag(:url => { :action => :save_ctype_cform_seed },
				   :before => "Element.show('spinner');",
				   :complete => "Element.hide('spinner');") do %>
	<fieldset id="seed_field" align="left" style="width:960px; padding-top:10px; margin-bottom:10px; background: lightgrey;">
	    <legend style="background: steelblue;">
			<% if @seed_id == 0 %>
				新規Item
			<% else %>
				Item編集
			<% end %>
		</legend>
		<table class="property_list">
			<thead>
				<tr>
					<th width=80px></th>
					<th width=200px style="text-align:left;">活用型</th>
					<th width=150px style="text-align:left;">活用形</th>
					<th width=100px style="text-align:center;">単語語尾</th>
					<th width=20px></th>
					<th width=100px style="text-align:center;">読み語尾</th>
					<th width=20px></th>
					<th width=100px style="text-align:center;">発音語尾</th>
				</tr>
				<tr>
					<td style="text-align:center;">
						<%= submit_tag '保存' %>
						<%= hidden_field_tag :id, @seed_id %>
					</td>
					<td>
						<% if @seed_id == 0 %>
							<%= display_property_list(:type=>"ctype", :domain=>"jp", :state=>"new") %>
						<% else %>	
							<%= display_property_list(:type=>"ctype", :domain=>"jp", :state=>"modify",
													  :id=>JpCtypeCformSeed.find(@seed_id).ctype, :option=>"DISABLED") %>
						<% end %>	

					</td>
					<td>
						<% if @seed_id == 0 %>
							<%= display_property_list(:type=>"cform", :domain=>"jp", :state=>"new") %>
						<% else %>
							<%= display_property_list(:type=>"cform", :domain=>"jp", :state=>"modify",
													  :id=>JpCtypeCformSeed.find(@seed_id).cform, :option=>"DISABLED") %>
						<% end %>
					</td>
					<td>
						<% if @seed_id == 0 %>
							<%= text_field "surface_end", "value", :style=>"width:100%;", :class=>'text-field' %>
						<% else %>
							<% original_seed = JpCtypeCformSeed.find(@seed_id) %>
							<%= text_field 'surface_end', 'value', :style=>"width:100%;", :value=>original_seed.surface_end, :class=>'text-field' %>
						<% end %>
					</td>
					<td></td>
					<td>
						<% if @seed_id == 0 %>
							<%= text_field "reading_end", "value", :style=>"width:100%;", :class=>'text-field' %>
						<% else %>
							<%= text_field 'reading_end', 'value', :style=>"width:100%;", :value=>original_seed.reading_end, :class=>'text-field' %>
						<% end %>
					</td>
					<td></td>
					<td>
						<% if @seed_id == 0 %>
							<%= text_field "pronunciation_end", "value", :style=>"width:100%;", :class=>'text-field' %>
						<% else %>
							<%= text_field 'pronunciation_end', 'value', :style=>"width:100%;", :value=>original_seed.pronunciation_end, :class=>'text-field' %>
						<% end %>					
					</td>
				</tr>
			</thead>
		</table>
	</fieldset>
<% end %>
<%= javascript_tag render(:update) { |page| page['top'].focus } %>
<%= javascript_tag render(:update) { |page| page['seed_field'].visual_effect :highlight } %>