<% case params[:domain]
	when "jp"
		synthetic_property_string = "複合語属性"
		category_property_string = "分類属性"
		text_property_string = "文字属性"
		time_property_string = "時間属性"
		create_string = "新規"
		confirm_string = "削除しますか?"
	when "cn"
		synthetic_property_string = "合成词属性"
		category_property_string = "分类属性"
		text_property_string = "文字属性"
		time_property_string = "时间属性"
		create_string = "创建"
		confirm_string = "确定要删除吗？"
	when "en"
		synthetic_property_string = "Compound Word Property"
		category_property_string = "Category Property"
		text_property_string = "Text Property"
		time_property_string = "Time Property"
		create_string = "Create"
		confirm_string = "Are you sure to delete?"
end %>


<div class="User-control"  style="margin-left:2%; margin-right:2%;">
    <fieldset align="left" style="padding-top:10px; margin-bottom:30px; background: #f7faff;">
        <legend style="background: #1e2078;"><%= synthetic_property_string %></legend>
		<table style="width:100%; border-collapse: collapse;">
			<tr valign=top>
				<td style="width:33%; padding-left:10px; padding-right:10px; border-right:1px solid;">
					<table style="width:100%;">
						<tr><th align=center colspan=3><%= category_property_string %></th></tr>
						<% @synthetic_cat_property.each{|item| %>
							<tr>
								<td style="width:40%;">
									<%= link_to_remote( item[1], :update =>"show_property",
																 :url =>{ :action => :show_category_item, :string => item[0], :domain=>params[:domain]},
																 :before => "Element.show('spinner');",
																 :complete => "Element.hide('spinner');" ) %>
								</td>
								<td style="text-align:center; padding-left:5px; padding-right:5px; width:20%;">
									<% temp = verify_domain(params[:domain])['NewProperty'].constantize.find(:first, :conditions=>["property_string=?",item[0]]) %>
									<% unless temp.blank? %>
										<%= link_to_remote(image_tag("less.gif", :border=>0), :url => {:action => :delete_property, :type_field=>"category", :id=>temp.id, :domain=>params[:domain]}, :confirm =>confirm_string) %>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<%= link_to_remote(image_tag("plus.gif", :border=>0), :update => "show_property", :url => {:action => :modify_property, :type_field=>"category", :id=>temp.id, :domain=>params[:domain]}) %>
									<% end %>
								</td>
								<td style="width:40%;"><%= h(item[2]) %></td>
							</tr>
						<% } %>
					</table>
				</td>
				<td style="width:33%; padding-left:10px; padding-right:10px; border-left:1px solid; border-right:1px solid;">
					<table style="width:100%;">
						<tr><th align=center colspan=3><%= text_property_string %></th></tr>
						<% @synthetic_text_property.each{|item| %>
							<tr>
								<td style="width:40%;"><%= h(item[1]) %></td>
								<td style="text-align:center; padding-left:5px; padding-right:5px; width:20%;">
									<% temp = verify_domain(params[:domain])['NewProperty'].constantize.find(:first, :conditions=>["property_string=?",item[0]]) %>
									<% unless temp.blank? %>
										<%= link_to_remote(image_tag("less.gif", :border=>0), :url => {:action => :delete_property, :type_field=>"text", :id=>temp.id, :domain=>params[:domain]}, :confirm =>confirm_string) %>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<%= link_to_remote(image_tag("plus.gif", :border=>0), :update => "show_property", :url => {:action => :modify_property, :type_field=>"text", :id=>temp.id, :domain=>params[:domain]}) %>
									<% end %>
								</td>
								<td style="width:40%;"><%= h(item[2]) %></td>
							</tr>
						<% } %>
					</table>
				</td>
				<td style="width:33%; padding-left:10px; padding-right:10px; border-left:1px solid;">
					<table style="width:100%;">
						<tr><th align=center colspan=3><%= time_property_string %></th></tr>
						<% @synthetic_time_property.each{|item| %>
							<tr>
								<td style="width:40%;"><%= h(item[1]) %></td>
								<td style="text-align:center; padding-left:5px; padding-right:5px; width:20%;">
									<% temp = verify_domain(params[:domain])['NewProperty'].constantize.find(:first, :conditions=>["property_string=?",item[0]]) %>
									<% unless temp.blank? %>
										<%= link_to_remote(image_tag("less.gif", :border=>0), :url => {:action => :delete_property, :type_field=>"time", :id=>temp.id, :domain=>params[:domain]}, :confirm =>confirm_string) %>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<%= link_to_remote(image_tag("plus.gif", :border=>0), :update => "show_property", :url => {:action => :modify_property, :type_field=>"time", :id=>temp.id, :domain=>params[:domain]}) %>
									<% end %>
								</td>
								<td style="width:40%;"><%= h(item[2]) %></td>
							</tr>
						<% } %>
					</table>
				</td>
			</tr>
			<tr>
				<td align=center style="padding-left:10px; padding-right:10px; border-right:1px solid;">
					<%= button_to_remote(create_string, :update => "show_property", :url => {:action => :modify_property, :type_field=>"category", :section=>@section, :domain=>params[:domain]})%>
				</td>
				<td align=center style="padding-left:10px; padding-right:10px; border-left:1px solid; border-right:1px solid;">
					<%= button_to_remote(create_string, :update => "show_property", :url => {:action => :modify_property, :type_field=>"text", :section=>@section, :domain=>params[:domain]})%>
				</td>
				<td align=center style="padding-left:10px; padding-right:10px; border-left:1px solid;">
					<%= button_to_remote(create_string, :update => "show_property", :url => {:action => :modify_property, :type_field=>"time", :section=>@section, :domain=>params[:domain]})%>					
				</td>
			</tr>
		</table>
    </fieldset>
	<a id="top" name="top" href="#" STYLE="text-decoration:none"></a>
	<div id='spinner' style="display:none;">
		<%= image_tag("load.gif") %>
	</div>
	<div id="show_property">
		<% if not flash.now[:special].blank? %>
			<div id="notice" ><%= flash.now[:special] %></div>
		<% end %>
	</div>
</div>