<% case domain
	when "jp"
		change_string = "変更"
		select_string = "選択"
		no_word_string = "この単語は辞書にないので、まず新規登録をしてください"
		dummy_word_string = "Dummy wordにする"
		confirm_string = "确定"
	when "cn"
		change_string = "变更"
		select_string = "选择"
		no_word_string = "词典中无此单词，请先创建此单词"
		dummy_word_string = "设为中间虚置词"
		confirm_string = "确定"
	when "en"
		change_string = "Change"
		select_string = "Select"
		no_word_string = "Lexeme does not exist in dictionary, please create it first"
		dummy_word_string = "As dummy word"
		confirm_string = "Confirm"
end %>

<div id="candidate">
	<table style="width:100%; text-align: center; margin:10px 0 10px 0;" >
		<tr>
			<td>
				<% form_remote_tag :url=>{ :action=>"split_word", :right=>right, :ids=>ids, :chars=>chars,
										   :level=>level, :type=>type, :from=>from,	:original_id => original_id,
										   :chars_index=>chars_index, :ids_section=>ids_section, :domain=>domain } do %>
				   	<strong><%= left %></strong>
					<input id="left" name="left" size="15" type="text" />
					<input name="commit" type="submit" value=<%= change_string %> />
				<% end %>
			</td>
			<td></td>
			<td>
				<% form_remote_tag :url=>{ :action=>"split_word", :left=>left, :ids=>ids, :chars=>chars,
										   :level=>level, :type=>type, :from=>from,	:original_id => original_id,
										   :chars_index=>chars_index, :ids_section=>ids_section, :domain=>domain } do %>
				   	<strong><%= right %></strong>
					<input id="right" name="right" size="15" type="text" />
					<input name="commit" type="submit" value=<%= change_string %> />
				<% end %>
			</td>
		</tr>
	</table>
	<% form_remote_tag :url => { :action=>"define_internal_structure", :type=>type, :ids=>ids, :chars=>chars,
								 :level=>level, :left=>left, :right=>right, :original_id=>original_id, :from=>from,
								 :chars_index=>chars_index, :ids_section=>ids_section, :domain=>domain } do %>		
		<table>
			<tr>
			<td class="list" style="width:48%; text-align: center; border: 1px solid #fad163; padding:10px;">
				<% if left_or_right[0].size == 0 %>
						<%= no_word_string %><br/>
						<%= radio_button_tag 'left_id', "-", true %><%= dummy_word_string %>
				<% else %>
					<table>
					    <thead>
					        <tr>
					        	<th>
									<% if left_id.blank? or left_id == "-" %>
						            	<%= radio_button_tag 'left_id', "-", true %><%= select_string %>
									<% else %>
										<%= radio_button_tag 'left_id', "-", false %><%= select_string %>
									<% end %>
								</th>
								<th><%= initial_property_name["id"] %></th>
								<th><%= initial_property_name["surface"] %></th>
								<th><%= initial_property_name["pos"] %></th>
								<th><%= initial_property_name["dictionary"] %></th>
								<th><%= initial_property_name["sth_struct"] %></th>
					        </tr>
					    </thead>
					    <tbody>
					        <% odd_or_even = 0 %>
							<% for lexeme in left_or_right[0]
					    		odd_or_even = 1 - odd_or_even %> 
						        <tr <%= "class='odd'" if odd_or_even == 0 %> >
						            <td width=25px >
										<% if left_id != nil and lexeme.id == left_id.to_i %>
							            	<%= radio_button_tag 'left_id', lexeme.id, true %>
										<% else %>
											<%= radio_button_tag 'left_id', lexeme.id, false %>
										<% end %>
						            </td>
									<td><%= h(lexeme.id) %></td>
									<td><%= h(lexeme.surface) %></td>
									<td><%= h(lexeme.pos_item.tree_string) unless lexeme.pos.blank? %></td>
									<td style="text-align:center;" >
										<%	temp = []
											lexeme.dictionary_item.list.each{|dict| temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>" } %>
										<%= temp.join("  ") %>
									</td>
									<td style="text-align:center;" >
										<% unless lexeme.struct.blank? %>
											<span style='background-color:#047;'>&nbsp;&nbsp;</span>
										<% end %>
									</td>
						        </tr>
					        <% end %>
					    </tbody>
					    <thead>
					        <tr>
					        	<th></th>
								<th><%= initial_property_name["id"] %></th>
								<th><%= initial_property_name["surface"] %></th>
								<th><%= initial_property_name["pos"] %></th>
								<th><%= initial_property_name["dictionary"] %></th>
								<th><%= initial_property_name["sth_struct"] %></th>
					        </tr>
					    </thead>
					</table>
				<% end %>
			</td>
			
			<td style="width:4%; text-align: center;">
				<% unless divide_type.blank?
					if divide_type == "horizontal" %>
						<%= image_tag("internal-horizontal.jpg", :border=>0, :style=>"padding-bottom:40px;") %>
					<% elsif divide_type == "vertical" %>
						<%= image_tag("internal-vertical.jpg", :border=>0, :style=>"padding-bottom:10px;") %>
					<% end
				end %>
				<%= submit_tag confirm_string %>
			</td>
			
			<td class="list" style="width:48%; text-align: center; border: 1px solid #fad163; padding:10px;">
				<% if left_or_right[1].size == 0 %>
						<%= no_word_string %><br/>
						<%= radio_button_tag 'right_id', "-", true %><%= dummy_word_string %>
				<% else %>
					<table>
					    <thead>
					        <tr>
					        	<th>
									<% if right_id.blank? or right_id == "-" %>
						            	<%= radio_button_tag 'right_id', "-", true %><%= select_string %>
									<% else %>
										<%= radio_button_tag 'right_id', "-", false %><%= select_string %>
									<% end %>
								</th>
								<th><%= initial_property_name["id"] %></th>
								<th><%= initial_property_name["surface"] %></th>
								<th><%= initial_property_name["pos"] %></th>
								<th><%= initial_property_name["dictionary"] %></th>
								<th><%= initial_property_name["sth_struct"] %></th>
					        </tr>
					    </thead>
					    <tbody>
					        <% odd_or_even = 0 %>
							<% for lexeme in left_or_right[1]
					    		odd_or_even = 1 - odd_or_even %> 
						        <tr <%= "class='odd'" if odd_or_even == 0 %> >
						            <td width=25px >
										<% if right_id != nil and lexeme.id == right_id.to_i %>
							            	<%= radio_button_tag 'right_id', lexeme.id, true %>
										<% else %>
											<%= radio_button_tag 'right_id', lexeme.id, false %>
										<% end %>
						            </td>
									<td><%= h(lexeme.id) %></td>
									<td><%= h(lexeme.surface) %></td>
									<td><%= h(lexeme.pos_item.tree_string) unless lexeme.pos.blank? %></td>
									<td style="text-align:center;" >
										<%	temp = []
											lexeme.dictionary_item.list.each{|dict| temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>" } %>
										<%= temp.join("  ") %>
									</td>
									<td style="text-align:center;" >
										<% unless lexeme.struct.blank? %>
											<span style='background-color:#047;'>&nbsp;&nbsp;</span>
										<% end %>
									</td>
						        </tr>
					        <% end %>
					    </tbody>
					    <thead>
					        <tr>
					        	<th></th>
								<th><%= initial_property_name["id"] %></th>
								<th><%= initial_property_name["surface"] %></th>
								<th><%= initial_property_name["pos"] %></th>
								<th><%= initial_property_name["dictionary"] %></th>
								<th><%= initial_property_name["sth_struct"] %></th>
					        </tr>
					    </thead>
					</table>
				<% end %>
			</td>
			</tr>
		</table>
	<% end %>
</div>