<% case domain
	when "jp"
		change_string = "変更"
		update_string = "更新"
		reset_string = "リセット"
		new_string = "新規"
		title_string = "複合語属性"
		alert_string = "構造木を変更すると、全構造の属性がなくなる"
	when "cn"
		change_string = "变更"
		update_string = "更新"
		reset_string = "重置"
		new_string = "新建"
		title_string = "合成词属性"
		alert_string = "内部构造一旦改变，则目前所有的内部构造属性会全部被删除"
	when "en"
		change_string = "Change"
		update_string = "Update"
		reset_string = "Reset"
		new_string = "Create"
		title_string = "Synthetic Word Property"
		alert_string = "All present properties will be deleted if the internal structure is modified"
end %>

<div id='synthetic_struct' class="User-control"  style="margin-left:2%;">
	<% if not flash[:notice].blank? %>
		<div id="notice" ><%= flash[:notice] %></div>
	<% elsif not flash[:notice_err].blank? %>
		<div id="notice_err" ><%= flash[:notice_err] %></div>
    <% end %>
	<% form_remote_tag  :url => {:action => :save_internal_struct, :from=>from, :sth_ref_id=>original_id, :domain=>domain},
						:html => {:id => "main_input"} do %>
	    <fieldset style="width:90%; background: #f7faff;">
	        <legend style="background: #1e2078;"><%= title_string %></legend>
			<div style="text-align:left;padding-left:15px;padding-top:10px;">
			<strong style="color:red;"><%= alert_string %></strong>
			<table>
				<tr>
			    	<td><strong><%= initial_property_name['sth_struct'] %></strong></td>
			        <td width="800">
						<%= get_showing_string(ids, chars) %>
						<%= button_to_remote(change_string, :url => {:action => :define_internal_structure, :type=>"define", :ids=>ids, :chars=>chars,
																	 :original_id=>original_id, :from=>from, :domain=>domain}) %>
					</td>
				</tr>
		    	<% if modify_internal_struct.blank? or modify_internal_struct['meta_0'].blank? or modify_internal_struct['meta_0'].sth_tagging_state.blank? %>
					<%= hidden_field_tag :sth_tagging_state, eval(verify_domain(params[:domain])['Property']+%Q|.find_item_by_tree_string_or_array("sth_tagging_state", "NEW").property_cat_id|) %>
				<% else %>
					<tr>
						<td><strong><%= initial_property_name['sth_tagging_state'] %></strong></td>
						<td><%= display_property_list(:type=>"sth_tagging_state", :domain=>domain, :state=>"modify", :id=>modify_internal_struct['meta_0'].sth_tagging_state) %></td>
					</tr>
				<% end %>
				<tr>
			        <td><strong><%= initial_property_name['log'] %></strong></td>
			        <td colspan=3>
			        	<% if modify_internal_struct.blank? or modify_internal_struct['meta_0'].blank? or modify_internal_struct['meta_0'].log.blank? %>
							<%= text_area_tag :log, nil, :rows => 3, :style=>"width:100%;" %>
						<% else %>
							<%= text_area_tag :log, modify_internal_struct['meta_0'].log, :rows => 3, :style=>"width:100%;" %>
						<% end %>
					</td>
				</tr>
			</table>
			</div>
	    </fieldset>
		<p>
		<%= hidden_field_tag :meta_size, meta_ids.size %>
		<% for index in 0..meta_ids.size-1 do
			index_string = 'meta_'+index.to_s %>
			<%= hidden_field_tag index_string, meta_ids[index_string] %>
		    <fieldset style="width:90%; background: #f7faff;">
		        <legend style="background: #1e2078;"><%= meta_show_chars[index_string].split(',').join("") %></legend>
				<div style="text-align:left;padding-left:15px;padding-top:10px;">
				<table>
					<tr>
						<td><%= initial_property_name["sth_struct"] %>:</td>
						<td colspan=4 width="800">
							<% meta_show_chars[index_string].split(',').each{|part| %>
								<%= part %>
								&nbsp;&nbsp;&nbsp;&nbsp;
							<% } %>
						</td>
					</tr>
					<% unless eval(verify_domain(params[:domain])['NewProperty']+%Q|.find(:all, :conditions=>["section='synthetic'"])|).blank? %>
						<% if modify_internal_struct['meta_'+index.to_s].blank? %>
							<%= customize_field_html(:domain=>domain, :section=>"synthetic", :state=>"new", :prefix=>index_string) %>
						<% else %>
							<%= customize_field_html(:domain=>domain, :section=>"synthetic", :state=>"modify", :id=>modify_internal_struct['meta_'+index.to_s].id, :prefix=>index_string) %>
						<% end %>
					<% end %>
				</table>
				</div>
		    </fieldset>
			<p>
		<% end %>
		<div style="padding-top:10px;padding-left:15px;padding-bottom:10px;">
			<% if from == "new" %>
				<%= submit_tag new_string %>
			<% else %>
				<% original_ids, original_chars = get_formatted_ids_and_chars(:original_lexeme_id=>original_id, :domain=>domain) %>
				<%= button_to_remote(reset_string, :url => {:action => "modify_structure", :ids=>original_ids, :chars=>original_chars, :original_id=>original_id, :from=>from, :domain=>domain}) %>
				<% if original_ids != ids %>
					<%= hidden_field_tag :changed, 'true' %>
				<% end %>
				<%= submit_tag update_string %>
			<% end %>
		</div>
	<% end %>
</div>