<div  id='synthetic_struct'>
	<div align="center">
		<table>
			<tr>
				<td>
					<strong>
						<% case info[:domain]
							when "jp" %>
								内部構造：
							<% when "cn" %>
								内部构造：
							<% when "en" %>
								Internal structure:
						<% end %>
					</strong>
				</td>
				<td>
					<table style="border: 3px solid #f0f8ff;">
						<tr>
							<% if show_internal_structure.size == 2 %>
								<%= show_internal_structure(:structure=>show_internal_structure, :first_time=>true, :info=>info) %>
							<% else %>
								<%= show_internal_structure(:structure=>show_internal_structure, :first_time=>false, :info=>info) %>
							<% end %>
		
						</tr>
					</table>
				</td>
				<td>
					<% form_remote_tag :url=>{:action=>"modify_structure", :structure=>show_internal_structure, :info=>info} do %>
						<span>
							<% case info[:domain]
								when "jp" %>
									<% temp_string = "リセット" %>
									<%= submit_tag '確認' %>
								<% when "cn" %>
									<% temp_string = "重置" %>
									<%= submit_tag '确认' %>
								<% when "en" %>
									<% temp_string = "Reset" %>
									<%= submit_tag 'Confirm' %>
							<% end %>
						</span>
						<%= button_to_remote(temp_string, :url=>{:action => :define_internal_structure, :action=>{:type=>"define"}, :info=>info}) %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<table>
						<tr>
							<td style="color:red;"><strong>Root:</strong></td>
							<td><%= h(get_structure_display_string(:structure=>show_internal_structure, :domain=>info[:domain])) %></td>
						</tr>
						<% to_create, to_update = get_create_and_update_structures(:structure=>show_internal_structure, :domain=>info[:domain]) %>
						<% to_create.each_with_index{|new_structure,index| %>
							<tr>
								<% if index == 0 %>
									<td style="color:red;"><strong>New:</strong></td>
								<% else %>
									<td></td>
								<% end %>
								<td><%= h(new_structure) %></td>
							</tr>
						<% } %>
						<% to_update.each_with_index{|update_structure,index| %>
							<tr>
								<% if index == 0 %>
									<td style="color:red;"><strong>Update:</strong></td>
								<% else %>
									<td></td>
								<% end %>
								<td><%= h(update_structure) %></td>
							</tr>
						<% } %>
					</table>
				</td>
			</tr>
		</table>
		<div id="candidate" style="text-align:left;padding-left:5%;padding-top:50px;">
			<% if not flash.now[:notice_err].blank? %>
				<div id="notice_err" ><%= flash.now[:notice_err] %></div>
		    <% end %>
			<table>
				<tr>
					<td><%= image_tag("internal-horizontal.jpg", :border=>0) %></td>
					<td>
						<span style="padding-left:10px;">
							<% case info[:domain]
								when "jp" %>
									：同じレベルで分割する
								<% when "cn" %>
									：同层分割
								<% when "en" %>
									:divide on the same level
							<% end %>
						</span>
					</td>
				</tr>
				<tr>
					<td><%= image_tag("internal-vertical.jpg", :border=>0) %></td>
					<td>
						<span style="padding-left:10px;">
							<% case info[:domain]
								when "jp" %>
									：下のレベルに分割する
								<% when "cn" %>
									：下层分割
								<% when "en" %>
									:create new level
							<% end %>
						</span>
					</td>
				</tr>
				<tr>
					<td>①②③</td>
					<td>
						<span style="padding-left:10px;">
							<% case info[:domain]
								when "jp" %>
									：分割ポイントのレベルを表示する
								<% when "cn" %>
									：表示各个分割点的层次
								<% when "en" %>
									:indicate the level of dividing point
							<% end %>
						</span>
					</td>
				</tr>
				<tr>
					<td><%= image_tag("internal-plus.jpg", :border=>0) %></td>
					<td>
						<span style="padding-left:10px;">
							<% case info[:domain]
								when "jp" %>
									：分割ポイントの左右を編集する
								<% when "cn" %>
									：编辑分割点左右的字符
								<% when "en" %>
									:edit left and right part of dividing point
							<% end %>
						</span>
					</td>
				</tr>
				<tr>
					<td><%= image_tag("internal-minus.jpg", :border=>0) %></td>
					<td>
						<span style="padding-left:10px;">
							<% case info[:domain]
								when "jp" %>
									：分割ポイントを削除する
								<% when "cn" %>
									：删除分割点
								<% when "en" %>
									:delete dividing point
							<% end %>
						</span>
					</td>
				</tr>
			</table>
		</div>	
	</div>
</div>
