<% if not flash.now[:notice].blank? %>
	<div id="notice" ><%= flash.now[:notice] %></div>
<% elsif not flash.now[:notice_err].blank? %>
	<div id="notice_err" ><%= flash.now[:notice_err] %></div>
<% else %>
	<div style="padding-bottom:15px;">
		<%= button_to_function "辞書<=>色", :onclick=>"if(Element.visible('dictionary_list')){Effect.SlideUp('dictionary_list');}else{Effect.SlideDown('dictionary_list');}" %>
	</div>
	<div id ="dictionary_list" align=center onclick="Effect.SlideUp('dictionary_list');" style='display:none;'>
		<table>
			<tr height=30>
				<% dicts = JpProperty.find(:all, :order=>"property_cat_id ASC", :conditions=>["property_string='dictionary' and property_cat_id > 0"]) %>
				<% dicts.each_with_index{|dict, index| %>
					<td><span style='<%= "background-color:#{dictionary_color[dict.property_cat_id]};" %>'>&nbsp;&nbsp;</span>&nbsp;<%= dict.tree_string %></td>
					<% if (index+1) % 5 == 0 %>
						</tr><tr height=30>
					<% else %>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<% end %>
				<% } %>
			</tr>
		</table>
	</div>
	<div id="edit_lexeme" class="list" >
		<% if series_change == "true" %>
			<p>
				<ul>
					<li>
						元の単語は他の単語のBaseなので、<span style="color:red;" >Base単語のbaseを変更する場合、系列のすべての単語のbaseとrootに更新を行います。</span>
					</li>
				</ul>
			</p>
		<% end %>
		<% form_tag({ :action => "update"}) do %>
			<%= hidden_field_tag :id, preview_edit["id"] %>
			<%= hidden_field_tag :series_change, series_change %>
			<table>
    			<thead>
	        		<tr>
						<%= "<th>#{initial_property_name('jp')['surface']}</th>" unless preview_edit["surface"].blank? %>
						<%= "<th>#{initial_property_name('jp')['reading']}</th>" unless preview_edit["reading"].blank? %>
						<%= "<th>#{initial_property_name('jp')['pronunciation']}</th>" unless preview_edit["pronunciation"].blank? %>
						<%= "<th>#{initial_property_name('jp')['base_id']}</th>" %>
						<%= "<th>#{initial_property_name('jp')['pos']}</th>" unless preview_edit["pos"].blank? %>
						<%= "<th>#{initial_property_name('jp')['ctype']}</th>" unless preview_edit["ctype"].blank? %>
						<%= "<th>#{initial_property_name('jp')['cform']}</th>" unless preview_edit["cform"].blank? %>
						<%= "<th>#{initial_property_name('jp')['dictionary']}</th>" unless preview_edit["dictionary"].blank? %>
						<%= "<th>#{initial_property_name('jp')['tagging_state']}</th>" unless preview_edit["tagging_state"].blank? %>
						<%= "<th>#{initial_property_name('jp')['log']}</th>" unless preview_edit["log"].blank? %>
						<% properties = JpNewProperty.find(:all, :conditions=>["section='lexeme'"])
						unless properties.blank?
							properties.each{|item|
								temp_string = item.human_name.scan(/./).size > 5 ? "style='width:70px;'" : "style='white-space:nowrap;'" %>
								<%= %Q|<th #{temp_string}>#{item.human_name}</th>| unless preview_edit[item.property_string].blank? %>
							<% }
						end %>
					</tr>
    			</thead>

				<tbody>
					<tr>
						<% unless preview_edit["surface"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "surface", preview_edit["surface"] %>
								<%= h(preview_edit["surface"]) %>
							</td>
						<% end %>
						<% unless preview_edit["reading"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "reading", preview_edit["reading"] %>
								<%= h(preview_edit["reading"]) %>
							</td>
						<% end %>
						<% unless preview_edit["pronunciation"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "pronunciation", preview_edit["pronunciation"] %>
								<%= h(preview_edit["pronunciation"]) %>
							</td>
						<% end %>
						<td align="left" >
							<%= hidden_field_tag "base_id", preview_edit["base_id"] %>
							<%= hidden_field_tag "root_id", preview_edit["root_id"] %>
							<%= h(JpLexeme.find(preview_edit["base_id"].to_i).surface) %>
						</td>
						<% unless preview_edit["pos"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "pos", preview_edit["pos"] %>
								<%= h(JpProperty.find(:first, :conditions=>["property_string='pos' and property_cat_id=#{preview_edit["pos"].to_i}"]).tree_string) %>
							</td>
						<% end %>
						<% unless preview_edit["ctype"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "ctype", preview_edit["ctype"] %>
								<%= h(JpProperty.find(:first, :conditions=>["property_string='ctype' and property_cat_id=#{preview_edit["ctype"].to_i}"]).tree_string) %>
							</td>
						<% end %>
						<% unless preview_edit["cform"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "cform", preview_edit["cform"] %>
								<%= h(JpProperty.find(:first, :conditions=>["property_string='cform' and property_cat_id=#{preview_edit["cform"].to_i}"]).tree_string) %>
							</td>
						<% end %>
						<% unless preview_edit["dictionary"].blank? %>
							<td style="text-align:center" >
								<%	display_dict = []
									preview_edit["dictionary"].split(",").each{|dict| display_dict << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>" }
								%>
								<%= hidden_field_tag "dictionary", preview_edit["dictionary"] %>
								<%= display_dict.join("  ") %>
							</td>
						<% end %>
						<% unless preview_edit["tagging_state"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "tagging_state", preview_edit["tagging_state"] %>
								<%= h(JpProperty.find(:first, :conditions=>["property_string='tagging_state' and property_cat_id=#{preview_edit["tagging_state"].to_i}"]).tree_string) %>
							</td>
						<% end %>
						<% unless preview_edit["log"].blank? %>
							<td align="left" >
								<%= hidden_field_tag "log", preview_edit["log"] %>
								<%= h(preview_edit["log"]) %>
							</td>
						<% end %>
						<% properties = JpNewProperty.find(:all, :conditions=>["section='lexeme'"])
						unless properties.blank?
							properties.each{|item| 
								unless preview_edit[item.property_string].blank?
									case item.type_field
										when "category" %>
											<td align="left" >
												<%= hidden_field_tag item.property_string, preview_edit[item.property_string] %>
												<%= h(JpProperty.find(:first, :conditions=>["property_string='#{item.property_string}' and property_cat_id=#{preview_edit[item.property_string].to_i}"]).tree_string) %>
											</td>
										<% when "text", "time" %>
											<td align="left" >
												<%= hidden_field_tag item.property_string, preview_edit[item.property_string] %>
												<%= h(preview_edit[item.property_string]) %>
											</td>
									<% end
								end
							}
						end %>
					</tr>
				</tbody>

    			<thead>
	        		<tr>
						<%= "<th>#{initial_property_name('jp')['surface']}</th>" unless preview_edit["surface"].blank? %>
						<%= "<th>#{initial_property_name('jp')['reading']}</th>" unless preview_edit["reading"].blank? %>
						<%= "<th>#{initial_property_name('jp')['pronunciation']}</th>" unless preview_edit["pronunciation"].blank? %>
						<%= "<th>#{initial_property_name('jp')['base_id']}</th>" %>
						<%= "<th>#{initial_property_name('jp')['pos']}</th>" unless preview_edit["pos"].blank? %>
						<%= "<th>#{initial_property_name('jp')['ctype']}</th>" unless preview_edit["ctype"].blank? %>
						<%= "<th>#{initial_property_name('jp')['cform']}</th>" unless preview_edit["cform"].blank? %>
						<%= "<th>#{initial_property_name('jp')['dictionary']}</th>" unless preview_edit["dictionary"].blank? %>
						<%= "<th>#{initial_property_name('jp')['tagging_state']}</th>" unless preview_edit["tagging_state"].blank? %>
						<%= "<th>#{initial_property_name('jp')['log']}</th>" unless preview_edit["log"].blank? %>
						<% properties = JpNewProperty.find(:all, :conditions=>["section='lexeme'"])
						unless properties.blank?
							properties.each{|item|
								temp_string = item.human_name.scan(/./).size > 5 ? "style='width:70px;'" : "style='white-space:nowrap;'" %>
								<%= %Q|<th #{temp_string}>#{item.human_name}</th>| unless preview_edit[item.property_string].blank? %>
							<% }
						end %>
					</tr>
    			</thead>
			</table>
			<p>
			<div><%= submit_tag "変更" %></div>
		<% end %>
	</div>
<% end %>