<div style="margin-left:2%;" >
	<div>
		<% form_tag :action => 'list', :method => "post",
									   :static_condition=>@pass[:static_condition],
                                   	   :dynamic_lexeme_condition=>@pass[:dynamic_lexeme_condition],
                                   	   :dynamic_synthetic_condition=>@pass[:dynamic_synthetic_condition],
									   :show_conditions => @pass[:show_conditions],
									   :simple_search=>@pass[:simple_search] do %>
			表示件数：
	        <select id="per_page" name="per_page" style="width: 80px">
	        	<%= options_for_select(per_page_list, @pass[:per_page].to_s ) %>
	        </select>
	        <%= submit_tag "Review" %>
			<% if @list.include?("6_dictionary") %>
				<span style="padding-left:30px;">
					<%= button_to_function "辞書<=>色", :onclick=>"if(Element.visible('field_list')){Effect.SlideUp('field_list');Effect.SlideDown('dictionary_list');}if(Element.visible('dictionary_list')){Effect.SlideUp('dictionary_list');}else{Effect.SlideDown('dictionary_list');}" %>
				</span>
			<% end %>
			<span style="padding-left:30px;">
				<%= button_to_remote( "表示フィールド", :url =>{ :action => :load_section_list }, :with=>"'state='+Element.visible('field_list')",
									  :before=>%Q|if(Element.visible('dictionary_list')){Effect.SlideUp('dictionary_list');}|+%Q|if(Element.visible('field_list')){Effect.SlideUp('field_list');}| ) %>
			</span>
			<% if not session[:user_id].blank? and User.find_by_id(session[:user_id]).group_name == "admin" %>
				<span id='wrapper' style="padding-left:30px;">
					<span id='period_caller'>
						<%= button_to_remote '結果出力', :url=>{:action=>:start_dump,
															  :static_condition=>@pass[:static_condition],
						                                   	  :dynamic_lexeme_condition=>@pass[:dynamic_lexeme_condition],
						                                   	  :dynamic_synthetic_condition=>@pass[:dynamic_synthetic_condition],
															  :show_conditions => @pass[:show_conditions],
															  :simple_search=>@pass[:simple_search],
															  :domain=>'jp'} %>
					</span>
					<span id='indicator' style="display:none;">
						Dumping:&nbsp;&nbsp;&nbsp;<%= image_tag("load.gif") %>
						<span class="progressBar" id="progressBar">1%</span>
					</span>
				</span>
			<% end %>
		<% end %>
	</div>
	<div style="width:100%;">
		<div id ="field_list" align=center style='display:none;'></div>
		<% if @list.include?("6_dictionary") %>
			<div id ="dictionary_list" align=center onclick="Effect.SlideUp('dictionary_list');" style='display:none;'>
				<table>
					<tr height=30>
						<% dicts = JpProperty.find(:all, :order=>"property_cat_id ASC", :conditions=>["property_string='dictionary' and property_cat_id > 0"]) %>
						<% dicts.each_with_index{|dict, index| %>
							<td><span style='<%= "background-color:#{dictionary_color[dict.property_cat_id]};" %>'>&nbsp;&nbsp;</span>&nbsp;<%= dict.tree_string %></td>
							<% if (index+1) % 5 == 0 %>
								</tr><tr height=30>
							<% else %>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<% end %>
						<% } %>
					</tr>
				</table>
			</div>
		<% else %>
			<div id ="dictionary_list" style='display:none;'></div>
		<% end %>
	</div>
	

	<div style="width:100%;">
		<div style="padding-top:15px; padding-bottom:15px;">
			<%= will_paginate @jplexemes, :params => { :per_page=>@pass[:per_page], 
													   :static_condition=>@pass[:static_condition],
				                                   	   :dynamic_lexeme_condition=>@pass[:dynamic_lexeme_condition],
				                                   	   :dynamic_synthetic_condition=>@pass[:dynamic_synthetic_condition],
													   :show_conditions => @pass[:show_conditions],
													   :simple_search=>@pass[:simple_search] } %>
		</div>
		<div class="list">
			<table>
				<thead>
				    <tr>
				        <th scope="row" align=left width=30px>条件:</th>
		                <td colspan=<%= @list.size %>><%= @pass[:show_conditions] %></td>
		                <th align="right" ><%= @jplexemes.total_entries %>&nbsp;&nbsp;&nbsp;Hits</th>
			        </tr>
			    </thead>
			    <thead>
			        <tr>
			            <th></th>
						<th>ID</th>
			            <% @list.each{|ordered_item|
							item = ordered_item.gsub(/^\d+_/, "")
							if not initial_property_name('jp')[item].blank? %>
								<th><%= item=="sth_tagging_state" ? "構造"+initial_property_name('jp')[item] : initial_property_name('jp')[item] %></th>
							<% elsif ["sth_log", "sth_modified_by", "sth_updated_at"].include?(item) %>
								<th>構造<%= initial_property_name('jp')[item.gsub("sth_", "")] %></th>
							<% else
								temp = JpNewProperty.find(:first, :conditions=>["property_string='#{item}'"]).human_name %>
								<th <%= temp.scan(/./).size > 5 ? %Q|style="width:70px;"| : %Q|style="white-space: nowrap;"| %>><%= h(temp) %></th>
							<% end
			            } %>
			        </tr>
			    </thead>
			    <tbody>
			        <% odd_or_even =0 %>
					<% for lexeme in @jplexemes do
			    		odd_or_even = 1 - odd_or_even %> 
				        <tr <%= "class='odd'" if odd_or_even == 0 %> >
				            <td align="center" >
				                <%= link_to '詳細', :action => 'show', :id => lexeme.id %>
				            </td>
				            <td align="left" ><%= h(lexeme.id) %></td>
							<% @list.each do |ordered_item|
								item = ordered_item.gsub(/^\d+_/, "")
								if not initial_property_name('jp')[item].blank?
									case item
										when "surface" %>
											<td><%= link_to( h(lexeme.surface), "http://www.google.co.jp/search?hl=ja&q=#{lexeme.surface}") %></td>
										<% when "reading", "pronunciation", "log" %>
											<td><%= h(lexeme[item]) %></td>
										<% when "base_id" %>
											<td>
												<%= link_to( h(lexeme.base.surface), :action=>"search", :search_type=>"base", :base_id=>lexeme.base_id ) %>
											</td>
										<% when "root_id" %>
											<td style="text-align:center;" >
												<% unless lexeme.root_id.blank? %>
													<% if lexeme.root_id =~ /^R/ %>
														<%= link_to( "<span style='background-color:#047;'>&nbsp;&nbsp;</span>", :action=>"search", :search_type=>"root", :root_id=>lexeme.root_id ) %>
													<% else %>
														<%= link_to( h(lexeme.root.surface), :action=>"search", :search_type=>"root", :root_id=>lexeme.root_id )%>
													<% end %>
												<% end %>
											</td>
										<% when "pos", "ctype", "cform", "tagging_state" %>
											<td>
												<% unless lexeme[item].blank? or lexeme[item] == 0 %>
													<%= h(eval('lexeme.'+item+'_item.tree_string')) %>
												<% end %>
											</td>
										<% when "created_by", "modified_by" %>
											<td>
												<% unless lexeme[item].blank? %>
													<%= h(User.find(lexeme[item].to_i).name) %>
												<% end %>
											</td>
										<% when "updated_at" %>
											<td>
												<% unless lexeme.updated_at.blank? %>
													<%= h(lexeme.updated_at.to_formatted_s(:db)) %>
												<% end %>
											</td>
										<% when "dictionary" %>
											<td style="text-align:center;" >
												<%	temp = []
													lexeme.dictionary_item.list.each{|dict| temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>" }
												%>
												<%= temp.join("  ") %>
											</td>
										<% when "sth_struct" %>
											<td style="text-align:center;" >
												<% unless lexeme.struct.blank? %>
													<span style='background-color:#047;'>&nbsp;&nbsp;</span>
												<% end %>
											</td>
										<% when "sth_tagging_state" %>
											<td>
												<% unless lexeme.struct.blank? %>
													<%= h(lexeme.struct.sth_tagging_state_item.tree_string) %>
												<% end %>
											</td>
									<% end
								elsif ["sth_log", "sth_modified_by", "sth_updated_at"].include?(item)
									case item
										when "sth_log" %>
											<td><%= h(lexeme.struct.log) unless lexeme.struct.blank? %></td>
										<% when "sth_modified_by" %>
											<td><%= h(lexeme.struct.annotator.name) unless lexeme.struct.blank? %></td>
										<% when "sth_updated_at" %>
											<td><%= h(lexeme.struct.updated_at.to_formatted_s(:db)) unless lexeme.struct.blank? %></td>
									<% end
								else
									property = JpNewProperty.find(:first, :conditions=>["property_string='#{item}'"]) 
									if property.section == "lexeme"
										temp = eval 'lexeme.'+item
									elsif property.section == "synthetic"
										if lexeme.struct.blank?
											temp = ""
										else
											temp = eval('lexeme.struct.dup.'+item)
										end
									end
									if temp.blank? %>
										<td></td>
									<% else
										case property.type_field
											when "category" %>
												<td><%= h(JpProperty.find(:first, :conditions=>["property_string='#{item}' and property_cat_id=#{temp}"]).tree_string) %></td>
											<% when "text" %>
												<td><%= h(temp) %></td>
											<% when "time" %>
												<td><%= h(temp.to_formatted_s(:db)) %></td>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
				        </tr>

			        <% end %>
			    </tbody>
			    <thead>
			        <tr>
			            <th></th>
						<th>ID</th>
			            <% @list.each{|ordered_item|
							item = ordered_item.gsub(/^\d+_/, "")
							if not initial_property_name('jp')[item].blank? %>
								<th><%= item=="sth_tagging_state" ? "構造"+initial_property_name('jp')[item] : initial_property_name('jp')[item] %></th>
							<% elsif ["sth_log", "sth_modified_by", "sth_updated_at"].include?(item) %>
								<th>構造<%= initial_property_name('jp')[item.gsub("sth_", "")] %></th>
							<% else
								temp = JpNewProperty.find(:first, :conditions=>["property_string='#{item}'"]).human_name %>
								<th <%= temp.scan(/./).size > 5 ? %Q|style="width:70px;"| : %Q|style="white-space: nowrap;"| %>><%= h(temp) %></th>
							<% end
			            } %>
			        </tr>
			    </thead>
			</table>
		</div>
		<div style="padding-top:15px; padding-bottom:15px;">
			<%= will_paginate @jplexemes, :params => { :per_page=>@pass[:per_page], 
													   :static_condition=>@pass[:static_condition],
				                                   	   :dynamic_lexeme_condition=>@pass[:dynamic_lexeme_condition],
				                                   	   :dynamic_synthetic_condition=>@pass[:dynamic_synthetic_condition],
													   :show_conditions => @pass[:show_conditions],
													   :simple_search=>@pass[:simple_search] } %>
		</div>
	</div>
</div>
