<div class="User-control"  style="padding-left: 4%;">
	<%= error_messages_for 'user' %>
    <fieldset style="width:50%;">
        <legend>Add new Cradle ID</legend>
        <% form_for :user do |form| %>
			<div align="center" style="padding-top:15px;">
				<table>
					<tr height=30px>
						<td align="right"><strong>ID:</strong></td>
						<td><%= form.text_field :name, :size => 30, :class=>'text-field' %></td>
					</tr>
					<tr height=30px>
						<td align="right"><strong>Password:</strong></td>
						<td><%= form.password_field :password, :size => 30, :class=>'text-field' %></td>					
					</tr>
					<tr height=30px>
						<td align="right"><strong>Confirm password:</strong></td>
						<td><%= form.password_field :password_confirmation, :size => 30, :class=>'text-field' %></td>					
					</tr>
					<tr height=30px>
						<td align="right"><strong>Group:</strong></td>
						<td><%= form.select :group_name, ["user", "admin"], { :include_blank => false } %></td>					
					</tr>
					<tr>
						<td></td>
						<td><%= submit_tag "Add User" %></td>
					</tr>
				</table>
			</div>
        <% end %>
    </fieldset>
</div>