<div class="User-control"  style="padding-left: 4%;">
    <%= error_messages_for 'user' %>
    <fieldset style="width:50%;">
        <legend>Change password</legend>
        <% form_for :user do |form| %>
			<div align="center" style="padding-top:15px;">
				<table>
					<tr height=30px>
						<td align="right"><strong>ID:</strong></td>
						<td><%= form.text_field :name, :size => 30, 'disabled'=>'disabled', :class=>'text-field' %></td>
					</tr>
					<tr height=30px>
						<td align="right"><strong>Current password:</strong></td>
						<td><%= password_field 'password', 'now', :size => 30, :class=>'text-field' %></td>					
					</tr>
					<tr height=30px>
						<td align="right"><strong>New password:</strong></td>
						<td><%= form.password_field :password, :size => 30, :class=>'text-field' %></td>					
					</tr>
					<tr height=30px>
						<td align="right"><strong>Confirm new password:</strong></td>
						<td><%= form.password_field :password_confirmation, :size => 30, :class=>'text-field' %></td>					
					</tr>
					<tr>
						<td></td>
						<td><%= submit_tag "Submit" %></td>
					</tr>
				</table>
			</div>
        <% end %>
    </fieldset>
</div>