<% if message.blank? %>
	<% if base_type == "id" %>
		<td><%= initial_property_name['base_id'] %></td>
		<td>
			<input type="radio" name='base_type' id='base_type' checked="checked" value="id" onclick=<%= "\"#{remote_function(:update=>'base_field', :url=>{:action=>:input_base}, :with=>"'base_type='+value")}\"" %> />ID
			<input type="radio" name='base_type' id='base_type' value="surface" onclick=<%= "\"#{remote_function(:update=>'base_field', :url=>{:action=>:input_base}, :with=>"'base_type='+value")}\"" %> />単語
			<% if original_base.blank?
				 value="IDを入力して下さい"
			   else
				 value=original_base
			   end
			%>
			<span style="padding-left:10px;padding-right:10px;"><input onclick="clear()" <%= "value='#{value}'" %> name="base" id="base" type="text" SIZE=23 /></span>
			<%= observe_field("base", :update => "message", :url => {:action => :input_base}, :with => "'base_as_id='+value", :on => "changed") %>
			<a href="#">==></a>
		</td>
		<td></td>
		<td><%= initial_property_name['base_id'] %>検証</td>
		<% if original_base.blank? %>
			<td><span id="message">空の場合、<%= initial_property_name['base_id'] %>は単語自身になる<span></td>
		<% else %>
			<td><span id="message"><strong style="color:red;">OK</strong>(<%= JpLexeme.find(original_base).surface %>)</span></td>
			<%= hidden_field_tag 'base_id', original_base %>
			<%= hidden_field_tag 'base_ok', 'true' %>
		<% end %>
	<% elsif base_type == "surface" %>
		<td><%= initial_property_name['base_id'] %></td>
		<td>
			<input type="radio" name='base_type' id='base_type' value="id" onclick=<%= "\"#{remote_function(:update=>'base_field', :url=>{:action=>:input_base}, :with=>"'base_type='+value")}\"" %> />ID
			<input type="radio" name='base_type' id='base_type' checked="checked" value="surface" onclick=<%= "\"#{remote_function(:update=>'base_field', :url=>{:action=>:input_base}, :with=>"'base_type='+value")}\"" %> />単語
			<span style="padding-left:10px;padding-right:10px;"><input onclick="clear()" value="単語を入力して下さい" name="base" id="base" type="text" SIZE=23 /></span>
			<%= observe_field("base", :update => "message", :url => {:action => :input_base}, :with => "'base_as_surface='+value", :on => "changed") %>
			<a href="#">==></a>
		</td>
		<td></td>
		<td><%= initial_property_name['base_id'] %>検証</td>
		<td><span id="message">空の場合、<%= initial_property_name['base_id'] %>は単語自身になる<span></td>
	<% end %>
<% else %>
	<% case message
		when "ok_id", "ok_surface" %>
			<span id="message"><strong style="color:red;">OK</strong>(<%= JpLexeme.find(base_id.to_i).surface %>)</span>
			<%= hidden_field_tag 'base_id', base_id %>
			<%= hidden_field_tag 'base_ok', 'true' %>
		<% when "fail_id" %>
			<span id="message"><strong style="color:red;">入力したIDが存在しない</strong></span>
			<%= hidden_field_tag 'base_ok', 'false' %>
		<% when "fail_surface" %>
			<span id="message"><strong style="color:red;">入力した単語が存在しない</strong></span>
			<%= hidden_field_tag 'base_ok', 'false' %>
		<% when "list_surface" %>
			<span id="message">
				<select id="base_id" name="base_id" style="width:100%;">
					<%= options_for_select(input_base) %>
				</select>
			</span>
			<%= hidden_field_tag 'base_ok', 'true' %>
	<% end %>
<% end %>