<% if not flash.now[:notice].blank? %>
	<div id="notice" ><%= flash.now[:notice] %></div>
<% elsif not flash.now[:notice_err].blank? %>
	<div id="notice_err" ><%= flash.now[:notice_err] %></div>
<% else %>
	<div class="list" >
		<% case type
			when "define" %>
				【Root系列指定】によって、同じRoot系列の単語は：
			<% when "destroy" %>
				入力した単語と同じBaseの【<%= deleted %>】単語をRoot系列外してから、残る同じRoot系列の単語は：
		<% end %>
		<p>
		<% form_tag({:action=>"save_roots", :base_list=>preview_same_root[0].join(','), :old_base_list=>preview_same_root[1].join(','), :new_root=>new_root, :type=>type},
					{:id => 'preview', :name => 'preview'}) do %>
			<table>
    			<thead>
	        		<tr>
	        			<%= "<th>#{initial_property_name['id']}</th>" %>
						<%= "<th>#{initial_property_name['surface']}</th>" %>
						<%= "<th>#{initial_property_name['reading']}</th>" %>
						<%= "<th>#{initial_property_name['pronunciation']}</th>" %>
						<%= "<th>#{initial_property_name['pos']}</th>" %>
						<%= "<th>#{initial_property_name['ctype']}</th>" %>
						<%= "<th>#{initial_property_name['cform']}</th>" %>
						<%= "<th>#{initial_property_name['base_id']}</th>" %>
						<%= "<th>#{initial_property_name['root_id']}</th>" %>
					</tr>
    			</thead>
				<tbody>
					<% odd_or_even = 0
					preview_same_root[0].each{|base_id|
						odd_or_even = 1 - odd_or_even
						JpLexeme.find(base_id).same_base_lexemes.each{|lexeme| %>
							<tr <%= "class='odd'" if odd_or_even == 0 %> >
		                		<td align="left" >
									<%= h(lexeme["id"]) %>
								</td>
								<td align="left" >
									<%= h(lexeme["surface"]) unless lexeme["surface"].blank? %>
								</td>
								<td align="left" >
									<%= h(lexeme["reading"]) unless lexeme["reading"].blank? %>
								</td>
								<td align="left" >
									<%= h(lexeme["pronunciation"]) unless lexeme["pronunciation"].blank? %>
								</td>
								<td align="left" >
									<%= h(lexeme.pos_item.tree_string) unless lexeme["pos"].blank? %>
								</td>
								<td align="left" >
									<%= h(lexeme.ctype_item.tree_string) unless lexeme["ctype"].blank? %>
								</td>
								<td align="left" >
									<%= h(lexeme.cform_item.tree_string) unless lexeme["cform"].blank? %>
								</td>
								<td align="left" >
									<%= lexeme.base.surface %>
								</td>
								<td align="left" >
									<% if new_root !~ /^\d+$/ %>
										<span style='background-color:#047;'>&nbsp;&nbsp;</span>
									<% else %>
										<%= JpLexeme.find(new_root.to_i).surface %>
									<% end %>
								</td>
							</tr>
						<% }
					} %>
				</tbody>
    			<thead>
	        		<tr>
	        			<%= "<th>#{initial_property_name['id']}</th>" %>
						<%= "<th>#{initial_property_name['surface']}</th>" %>
						<%= "<th>#{initial_property_name['reading']}</th>" %>
						<%= "<th>#{initial_property_name['pronunciation']}</th>" %>
						<%= "<th>#{initial_property_name['pos']}</th>" %>
						<%= "<th>#{initial_property_name['ctype']}</th>" %>
						<%= "<th>#{initial_property_name['cform']}</th>" %>
						<%= "<th>#{initial_property_name['base_id']}</th>" %>
						<%= "<th>#{initial_property_name['root_id']}</th>" %>
					</tr>
    			</thead>
			</table>
			<p>
			<div><%= submit_tag "確認" %></div>
		<% end %>
	</div>
<% end %>