<script>if($('notice'))$('notice').remove();if($('notice_err'))$('notice_err').remove();</script>
<div id='show_desc' align="center" class="list" onclick="Effect.SlideUp('show_desc')" style="padding-bottom:20px;">
	<table style="text-align:left;">
        <% odd_or_even =1
		list = ["id"].concat(session[:jp_section_list].map{|item| item.gsub(/^\d+_/, "")}) %>
			<tr><td colspan=6 style="text-align:center;"><strong>単語詳細</strong></td></tr>
			<tr>
			<% for index in 0..list.size-1 do
				item = list[index]
				if index % 3 == 0
					odd_or_even = 1 - odd_or_even %>
					</tr><tr <%= "class='odd'" if odd_or_even == 0 %> >
				<% end 
				if not initial_property_name('jp')[item].blank? %>
					<th style="width:70px;"><%= item=="sth_tagging_state" ? "構造"+initial_property_name('jp')[item] : initial_property_name('jp')[item] %></th>
					<% case item
						when "id", "surface", "reading", "pronunciation", "log" %>
							<td><%= h(show_desc[item]) %></td>
						<% when "base_id" %>
							<td>
								<%= link_to( h(show_desc.base.surface), :action=>"search", :search_type=>"base", :base_id=>show_desc.base_id ) %>
							</td>
						<% when "root_id" %>
							<td style="text-align:center;" >
								<% unless show_desc.root_id.blank? %>
									<% if show_desc.root_id =~ /^R/ %>
										<%= link_to( "<span style='background-color:#047;'>&nbsp;&nbsp;</span>", :action=>"search", :search_type=>"root", :root_id=>show_desc.root_id ) %>
									<% else %>
										<%= link_to( h(show_desc.root.surface), :action=>"search", :search_type=>"root", :root_id=>show_desc.root_id )%>
									<% end %>
								<% end %>
							</td>
						<% when "pos", "ctype", "cform", "tagging_state" %>
							<td>
								<% unless show_desc[item].blank? or show_desc[item] == 0 %>
									<%= h(eval('show_desc.'+item+'_item.tree_string')) %>
								<% end %>
							</td>
						<% when "created_by", "modified_by" %>
							<td>
								<% unless show_desc[item].blank? %>
									<%= User.find(show_desc[item].to_i).name %>
								<% end %>
							</td>
						<% when "updated_at" %>
							<td>
								<% unless show_desc.updated_at.blank? %>
									<%= show_desc.updated_at.to_formatted_s(:db) %>
								<% end %>
							</td>
						<% when "dictionary" %>
							<td style="text-align:center;" >
								<%	temp = []
									show_desc.dictionary_item.list.each{|dict| temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>" }
								%>
								<%= temp.join("  ") %>
							</td>
						<% when "sth_struct" %>
							<td style="text-align:center;" >
								<% unless show_desc.struct.blank? %>
									<span style='background-color:#047;'>&nbsp;&nbsp;</span>
								<% end %>
							</td>
						<% when "sth_tagging_state" %>
							<td>
								<% unless show_desc.struct.blank? %>
									<%= h(show_desc.struct.sth_tagging_state_item.tree_string) %>
								<% end %>
							</td>
					<% end
				elsif ["sth_log", "sth_modified_by", "sth_updated_at"].include?(item) %>
					<th style="width:70px;">構造<%= initial_property_name('jp')[item.gsub("sth_", "")] %></th>
					<% case item
						when "sth_log" %>
							<td><%= show_desc.struct.sth_log unless show_desc.struct.blank? %></td>
						<% when "sth_modified_by" %>
							<td><%= show_desc.struct.annotator.name unless show_desc.struct.blank? %></td>
						<% when "sth_updated_at" %>
							<td><%= show_desc.struct.updated_at.to_formatted_s(:db) unless show_desc.struct.blank? %></td>
					<% end
				else %>
					<th style="width:70px;"><%= JpNewProperty.find(:first, :conditions=>["property_string='#{item}'"]).human_name %></th>
					<% property = JpNewProperty.find(:first, :conditions=>["property_string='#{item}'"]) 
					if property.section == "lexeme"
						temp = eval 'show_desc.'+item
					elsif property.section == "synthetic"
						if lexeme.struct.blank?
							temp = ""
						else
							temp = eval 'show_desc.struct.'+item
						end
					end
					if temp.blank? %>
						<td></td>
					<% else
						case property.type_field
							when "category" %>
								<td><%= h(JpProperty.find(:first, :conditions=>["property_string='#{item}' and property_cat_id=#{temp}"]).tree_string) %></td>
							<% when "text" %>
								<td><%= h(temp) %></td>
							<% when "time" %>
								<td><%= h(temp.to_formatted_s(:db)) %></td>
						<% end
					end
				end
			end %>
		</tr>
		<% unless show_desc.struct.blank?
			list_property = JpNewProperty.find(:all, :conditions=>["section='synthetic'"])
			show_desc.sub_structs.sort{|a,b| a.sth_meta_id<=>b.sth_meta_id}.each{|sub_structure| %>
				<tr><td colspan=6 style="background-color:#87CEFA"></td></tr>
				<tr><td colspan=6 style="background-color:#87CEFA"></td></tr>
		        <% odd_or_even =1 %>
				<tr><td colspan=6 style="text-align:center;"><strong>内部構造</strong></td></tr>
				<tr class='odd'>
					<th>構造</th>
					<td colspan=3><%= sub_structure.get_display_string %></td>
					<th>状態</th>
					<td><%= sub_structure.sth_tagging_state_item.tree_string %></td>
				</tr>
				<tr>
					<% list_property.each_with_index{|item, index|
						next unless session[:jp_dict_id].include?(item.dictionary_id)
						if index % 3 == 0 and index != 0
							odd_or_even = 1 - odd_or_even %>
							</tr><tr <%= "class='odd'" if odd_or_even == 0 %> >
						<% end %>
						<th><%= item.human_name %></th>
						<td>
							<% unless eval('sub_structure.'+item.property_string).blank? %>
								<% case item.type_field
									when 'category' %>
										<%= JpProperty.find(:first, :conditions=>["property_string=? and property_cat_id=?", item.property_string, eval('sub_structure.'+item.property_string)]).tree_string %>
									<% when 'text' %>
										<%= eval('sub_structure.'+item.property_string) %>
									<% when 'time' %>
										<%= eval('sub_structure.'+item.property_string).to_formatted_s(:db) %>
								<% end %>
							<% end %>
						</td>
					<% } %>
			<% } %>
		<% end %>
	</table>
</div>