<table>
  <tr>
    <th>         </th>
    <td><h2>中国語翻訳</h2></td>
  <tr>
    <th>         </th>
    <td>
      <% unless @lexeme.senses.empty? %>
        <table class="senses">
          <%= render :partial => 'edit_sense', :collection => @lexeme.senses  %>
        </table>
      <% end %>
    </td>
  </tr>
<table>
---------------------------
<table>
  <tr>
    <th>         </th>
    <td>
      <% form_for @sense, :url => {:controller => 'jp', :action => 'create_sense', :lexeme_id => @lexeme.id} do |f|%>
      <%= f.label :新しい意味 %><br />
      <%= f.text_field :text %>
      <%= f.submit "Create", :confirm => "Are you sure to add a new sense?"%>
      <% end %>
    </td>
  </tr>
</table>
----------------------------<br />
<br />
&nbsp&nbsp&nbsp<%= link_to 'Return', :action =>'show_trans', :id => @lexeme.id%>

