<div id='synthetic_struct'>
	<% if @lexeme.struct.blank? %>
		<div style="margin-left:20px;float:left;width:950px;">
	<% else %>
		<div style="margin-left:20px;float:left;width:650px;">
	<% end %>
		<% if not flash.now[:notice_special].blank? %>
			<div id="notice" style="width:400px;"><%= flash.now[:notice_special] %></div>
		<% end %>
		<div id='show_desc' style='display:none;'></div>
		<div class="User-control" style="float:left">
		    <fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
		        <legend style="background: #1e2078;">単語詳細</legend>
		        <div class="list">
					<table>
						<tr>
				        	<% if @lexeme.struct.blank? %>
								<th style="width:100px;"><%= initial_property_name('jp')['id'] %></th>
								<td colspan=2 style="width:300px;"><%= h(@lexeme.send("id")) %></td>
							<% else %>
				            	<th style="width:50px;"><%= initial_property_name('jp')['id'] %></th>
								<td colspan=2 style="width:190px;"><%= h(@lexeme.send("id")) %></td>
							<% end %>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name('jp')['surface'] %></th>
							<td colspan=2><%= h(@lexeme.send("surface")) %></td>
						</tr>
						<tr>
							<th><%= initial_property_name('jp')['reading'] %></th>
							<td colspan=2><%= h(@lexeme.send("reading")) %></td>
						</tr>					
						<tr class='odd'>
							<th><%= initial_property_name('jp')['pronunciation'] %></th>
							<td colspan=2><%= h(@lexeme.send("pronunciation")) %></td>
						</tr>
						<tr>
							<th><%= initial_property_name('jp')['pos'] %></th>
							<td colspan=2><%= h(@lexeme.pos_item.tree_string) unless @lexeme.send("pos").blank?  %></td>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name('jp')['ctype'] %></th>
							<td colspan=2><%= h(@lexeme.ctype_item.tree_string) unless @lexeme.send("ctype").blank? %></td>
						</tr>
						<tr>
							<th><%= initial_property_name('jp')['cform'] %></th>
							<td colspan=2><%= h(@lexeme.cform_item.tree_string) unless @lexeme.send("cform").blank? %></td>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name('jp')['base_id'] %></th>
							<td><%= link_to( h(@lexeme.base.surface), :action=> 'show', :id=>@lexeme.base_id )  %></td>
							<th style="width:25px; text-align:right;"><%= link_to( "系列", :action=> 'search', :base_id => @lexeme.base_id, :search_type => "base" )%></th>
						</tr>
						<tr>
							<th><%= initial_property_name('jp')['root_id'] %></th>
							<% if @lexeme.root_id.blank? %>
								<td colspan=2></td>
							<% else %>
								<td>
									<%= link_to( h(lexeme.root.surface), :action=> 'show', :id=>@lexeme.root_id) if @lexeme.root_id !~ /^R/ %>
								</td>
								<th style="width:25px; text-align:right;"><%= link_to( "系列", :action => 'search', :root_id => @lexeme.root_id, :search_type => "root") %></th>
							<% end %>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name('jp')['dictionary'] %></th>
							<% temp = []
							   @lexeme.dictionary_item.list.each{|dict| temp << JpProperty.find(:first, :conditions=>["property_string='dictionary' and property_cat_id=#{dict.to_i}"]).tree_string }	%>
							<td  colspan=2><%= h(temp.join(", ")) %></td>
						</tr>
						<%	odd_or_even = 0
						JpNewProperty.find(:all, :conditions=>["section='lexeme'"]).each{|item|
							odd_or_even = 1 - odd_or_even %>
							<tr <%= "class='odd'" if odd_or_even == 0 %> >
								<th><%= h(item.human_name) %></th>
								<td  colspan=2>
									<% method_name = "@lexeme."+item.property_string
									result = eval method_name
									if result != nil
										case item.type_field
											when "category" %>
												<%= h(JpProperty.find(:first, :conditions=>["property_string='#{item.property_string}' and property_cat_id=#{result}"]).tree_string) %>
											<% when "text" %>
												<%= h(result) %>
											<% when "time" %>
												<%= h(result.to_formatted_s(:db)) %>
										<% end
									end %>
								</td>
							</tr>
						<% } %>
						<% if User.find_by_id(session[:user_id]) %>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name('jp')['tagging_state'] %></th>
								<td colspan=2><%= h(@lexeme.tagging_state_item.tree_string) unless @lexeme.tagging_state == 0 %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 0 %>>
								<th><%= initial_property_name('jp')['log'] %></th>
								<td colspan=2><%= h(@lexeme.log) %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name('jp')['created_by'] %></th>
								<td colspan=2><%= h(@lexeme.creator.name) %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 0 %>>
								<th><%= initial_property_name('jp')['modified_by'] %></th>
								<td colspan=2><%= h(@lexeme.annotator.name) unless @lexeme.annotator.blank? %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name('jp')['updated_at'] %></th>
								<td colspan=2><%= h(@lexeme.send("updated_at").to_formatted_s(:db)) %></td>
							</tr>
						<% end %>
					</table>
		        </div>
		    </fieldset>
		    <p>
			<% if User.find_by_id(session[:user_id]) %>
				<table>
					<tr>
						<td><%= button_to '編集', :action => 'edit', :id => @lexeme %></td>
						<td><%= button_to '削除', { :action => 'destroy', :id => @lexeme }, :confirm => 'Are you sure?', :post => true %></td>
					</tr>
				</table>
			<% end %>
		</div>
		<% if @lexeme.struct.blank? %>
			<% if User.find_by_id(session[:user_id]) %>
				<div class="User-control" style="margin-left:20px; float:left;width:300px;">
				    <fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;text-align:center">
						<legend style="background: #1e2078;">構造詳細</legend>
							<% temp = JpSynthetic.find(:all, :conditions=>["sth_surface=?", @lexeme.surface]) %>
							<% unless temp.blank? %>
								<strong style="color:red">この単語は以下の単語内部の【中間部分】として使われている</strong>
								<table>
									<% temp.each{|parent| %>
										<tr><td><%= JpLexeme.find(parent.sth_ref_id).surface %></td<td>(<%= parent.sth_ref_id %>)</td></tr>
									<% } %>
								</table>
								<strong style="color:red">この単語の内部構造を指定すると、上記単語の【中間部分】に自動的にリンクされる</strong>
							<% end %>
							<%= button_to_remote "指定", :url=>{:controller=>:synthetic,
															   :action=>:define_internal_structure,
												               :split_action=>{:type => "define"},
														       :info=>{:original_id=>@lexeme.id, :from=>"creation", :domain=>"jp"}},
													    :before=>"if($('notice'))$('notice').remove();if($('notice_err'))$('notice_err').remove();" %>
				    </fieldset>
				</div>
			<% end %>
	</div>
		<% else %>
			<div class="User-control" style="margin-left:20px; float:left;">
				<% if User.find_by_id(session[:user_id]) %>
				    <fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
				        <legend style="background: #1e2078;">構造詳細</legend>
				        <div class="list">
				        	<table style="width:100%;">
								<tr>
									<th style="width:50px;"><%= initial_property_name('jp')['sth_tagging_state'] %></th>
									<td colspan=2 style="width:190px;"><%= h(@lexeme.struct.sth_tagging_state_item.tree_string) %></td>
								</tr>
								<tr class='odd'>
									<th><%= initial_property_name('jp')['log'] %></th>
									<td colspan=2><%= h(@lexeme.struct.log) %></td>
								</tr>
								<tr>
									<th><%= initial_property_name('jp')['modified_by'] %></th>
									<td colspan=2><%= @lexeme.struct.annotator.name unless @lexeme.struct.annotator.blank? %></td>
								</tr>
								<tr class='odd'>
									<th><%= initial_property_name('jp')['updated_at'] %></th>
									<td colspan=2><%= @lexeme.struct.send("updated_at").to_formatted_s(:db) %></td>
								</tr>
				        	</table>
				        </div>
				    </fieldset>
		    		<p>
					<table>
						<tr>
							<td>
								<%= button_to_remote "編集", :url=>{:controller=>:synthetic, :action=>"modify_structure", :split_action=>{:type => "define"},
																   :info=>{:original_id=>@lexeme.id, :from=>"modification", :domain=>"jp"}, :first_modification=>'true'},
															:before=>"if($('notice'))$('notice').remove();if($('notice_err'))$('notice_err').remove();" %>
							</td>
							<td><%= button_to_remote '削除', :url=>{:controller=>:synthetic, :action=>'destroy_struct', :id=>@lexeme.id, :domain=>'jp'},
															:confirm=>'内部構造を削除しますか？', :post=>true %></td>
						</tr>
					</table>
				<% end %>
		    	<p>
				<% for index in 0..(JpSynthetic.find(:all, :conditions=>["sth_ref_id=#{@lexeme.id}"]).size-1)
					sub_structure = JpSynthetic.find(:first, :conditions=>["sth_ref_id=#{@lexeme.id} and sth_meta_id=#{index}"])
					index_string = 'meta_'+index.to_s %>
				    <fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
						<legend style="background: #1e2078;"><%= sub_structure.sth_surface %></legend>
						<div class="list">
				        	<table style="width:100%;">
								<tr>
									<th style="width:50px;">構成</th>
									<td colspan=2 style="width:190px;"><%= sub_structure.get_display_string %></td>
								</tr>
								<% odd_or_even =1
								JpNewProperty.find(:all, :conditions=>["section='synthetic'"]).each{|property|
									odd_or_even = 1 - odd_or_even %>
									<tr <%= "class='odd'" if odd_or_even == 0 %> >
										<th><%= h(property.human_name) %></th>
										<td colspan=2>
											<% temp = JpSyntheticNewPropertyItem.find(:first, :conditions=>["property_id='#{property.id}' and ref_id=#{sub_structure.id}"])
											unless temp.blank? %>
												<% case property.type_field
													when 'category' %>
														<%= h(JpProperty.find(:first, :conditions=>["property_string='#{property.property_string}' and property_cat_id=#{temp.category}"]).tree_string) %>
													<% when 'text' %>
														<%= h(temp.text) %>
													<% when 'time' %>
														<%= h(temp.time.to_formatted_s(:db)) %>
												<% end
											end %>
										</td>
									</tr>
								<% } %>
				        	</table>
				        </div>
				    </fieldset>
				    <p>
				<% end %>
			</div>
	</div>
	<div style="margin-left:680px;width:450px;">
		<%= generate_tree_view(:domain=>'jp', :id=>@lexeme.id) %>
		<div id="myTreeContainer"></div>
	</div>
		<% end %>
</div>
<% unless @lexeme.struct.blank? %>
	<script>window.onload=CreateTree();</script>
<% end %>
