<div id='synthetic_struct'>
	<div style="margin-left:2%; float:left;width:48%;">
		<div id='show_desc'></div>
		<div class="User-control" style="float:left; width:48%;">
		    <fieldset style="padding-left:15px; padding-right:15px;padding-top:20px; background: #f7faff;">
		        <legend style="background: #1e2078;">単語詳細</legend>
		        <div class="list">
		            <table style="width:100%;">
						<tr>
							<th style="width:50px;"><%= initial_property_name['id'] %></th>
							<td colspan=2><%= h(@lexeme.send("id")) %></td>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name['surface'] %></th>
							<td colspan=2><%= h(@lexeme.send("surface")) %></td>
						</tr>
						<tr>
							<th><%= initial_property_name['reading'] %></th>
							<td colspan=2><%= h(@lexeme.send("reading")) %></td>
						</tr>					
						<tr class='odd'>
							<th><%= initial_property_name['pronunciation'] %></th>
							<td colspan=2><%= h(@lexeme.send("pronunciation")) %></td>
						</tr>
						<tr>
							<th><%= initial_property_name['pos'] %></th>
							<td colspan=2><%= h(@lexeme.pos_item.tree_string) unless @lexeme.send("pos").blank?  %></td>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name['ctype'] %></th>
							<td colspan=2><%= h(@lexeme.ctype_item.tree_string) unless @lexeme.send("ctype").blank? %></td>
						</tr>
						<tr>
							<th><%= initial_property_name['cform'] %></th>
							<td colspan=2><%= h(@lexeme.cform_item.tree_string) unless @lexeme.send("cform").blank? %></td>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name['base_id'] %></th>
							<td><%= link_to( h(@lexeme.base.surface), :action=> 'show', :id=>@lexeme.base_id )  %></td>
							<th style="width:25px; text-align:right;"><%= link_to( "系列", :action=> 'search', :base_id => @lexeme.base_id, :search_type => "base" )%></th>
						</tr>
						<tr>
							<th><%= initial_property_name['root_id'] %></th>
							<% if @lexeme.root_id.blank? %>
								<td colspan=2></td>
							<% else %>
								<td>
									<%= link_to( h(lexeme.root.surface), :action=> 'show', :id=>@lexeme.root_id) if @lexeme.root_id !~ /^R/ %>
								</td>
								<th style="width:25px; text-align:right;"><%= link_to( "系列", :action => 'search', :root_id => @lexeme.root_id, :search_type => "root") %></th>
							<% end %>
						</tr>
						<tr class='odd'>
							<th><%= initial_property_name['dictionary'] %></th>
							<% temp = []
							   @lexeme.dictionary_item.list.each{|dict| temp << JpProperty.find(:first, :conditions=>["property_string='dictionary' and property_cat_id=#{dict.to_i}"]).tree_string }	%>
							<td  colspan=2><%= h(temp.join(", ")) %></td>
						</tr>
						<%	odd_or_even = 0
						JpNewProperty.find(:all, :conditions=>["section='lexeme'"]).each{|item|
							odd_or_even = 1 - odd_or_even %>
							<tr <%= "class='odd'" if odd_or_even == 0 %> >
								<th><%= h(item.human_name) %></th>
								<td  colspan=2>
									<% method_name = "@lexeme."+item.property_string
									result = eval method_name
									if result != nil
										case item.type_field
											when "category" %>
												<%= h(JpProperty.find(:first, :conditions=>["property_string='#{item.property_string}' and property_cat_id=#{result}"]).tree_string) %>
											<% when "text" %>
												<%= h(result) %>
											<% when "time" %>
												<%= h(result.to_formatted_s(:db)) %>
										<% end
									end %>
								</td>
							</tr>
						<% } %>
						<% if User.find_by_id(session[:user_id]) %>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name['tagging_state'] %></th>
								<td colspan=2><%= h(@lexeme.tagging_state_item.tree_string) unless @lexeme.tagging_state == 0 %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 0 %>>
								<th><%= initial_property_name['log'] %></th>
								<td colspan=2><%= h(@lexeme.log) %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name['created_by'] %></th>
								<td colspan=2><%= h(@lexeme.creator.name) %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 0 %>>
								<th><%= initial_property_name['modified_by'] %></th>
								<td colspan=2><%= h(@lexeme.annotator.name) unless @lexeme.annotator.blank? %></td>
							</tr>
							<tr <%= "class='odd'" if odd_or_even == 1 %>>
								<th><%= initial_property_name['updated_at'] %></th>
								<td colspan=2><%= h(@lexeme.send("updated_at").to_formatted_s(:db)) %></td>
							</tr>
						<% end %>
					</table>
		        </div>
		    </fieldset>
		    <p>
			<% if User.find_by_id(session[:user_id]) %>
				<%= link_to '編集', :action => 'edit', :id => @lexeme %> &nbsp | &nbsp
			    <%= link_to '削除', { :action => 'destroy', :id => @lexeme }, :confirm => 'Are you sure?', :post => true %>
			<% end %>
		</div>
		<% if @lexeme.struct.blank? %>
			<div class="User-control" style="margin-left:4%; float:left;width:48%;">
			    <fieldset style="padding-left:15px; padding-right:15px;padding-top:20px; background: #f7faff;text-align:center">
					<legend style="background: #1e2078;">構造詳細</legend>
					<% if User.find_by_id(session[:user_id]) %>
						<%= link_to_remote "指定", :url => { :action => "define_internal_structure", 
															:type => "define",
															:original_id => @lexeme.id, :from=>"new" } %>
					<% end %>
			    </fieldset>
			</div>
	</div>
		<% else %>
			<div class="User-control" style="margin-left:4%; float:left;width:48%;">
				<% if User.find_by_id(session[:user_id]) %>
				    <fieldset style="padding-left:15px; padding-right:15px;padding-top:20px; background: #f7faff;">
				        <legend style="background: #1e2078;">構造詳細</legend>
				        <div class="list">
				        	<table style="width:100%;">
								<tr>
									<th style="width:50px;"><%= initial_property_name['sth_tagging_state'] %></th>
									<td colspan=2><%= h(@lexeme.struct.sth_tagging_state_item.tree_string) %></td>
								</tr>
								<tr class='odd'>
									<th><%= initial_property_name['log'] %></th>
									<td colspan=2><%= h(@lexeme.struct.log) %></td>
								</tr>
								<tr>
									<th><%= initial_property_name['modified_by'] %></th>
									<td colspan=2><%= @lexeme.struct.annotator.name unless @lexeme.struct.annotator.blank? %></td>
								</tr>
								<tr class='odd'>
									<th><%= initial_property_name['updated_at'] %></th>
									<td colspan=2><%= @lexeme.struct.send("updated_at").to_formatted_s(:db) %></td>
								</tr>
				        	</table>
				        </div>
				    </fieldset>
				    <p>
					<%= link_to_remote "編集", :url => { :action => "modify_structure", 
														:from => "modify",
														:original_id => @lexeme.id,
														:ids => @ids,
														:chars => @chars} %>
					&nbsp | &nbsp
				    <%= link_to '削除', { :action => 'destroy_struct', :id => @lexeme.id }, :confirm => 'Are you sure?', :post => true %>
				<% end %>
				<% for index in 0..(JpSynthetic.find(:all, :conditions=>["sth_ref_id=#{@lexeme.id}"]).size-1)
					sub_structure = JpSynthetic.find(:first, :conditions=>["sth_ref_id=#{@lexeme.id} and sth_meta_id=#{index}"])
					index_string = 'meta_'+index.to_s %>
				    <fieldset style="padding-left:15px; padding-right:15px;padding-top:20px; background: #f7faff;">
						<legend style="background: #1e2078;"><%= @meta_show_chars[index_string].delete(',') %></legend>
						<div class="list">
				        	<table style="width:100%;">
								<tr>
									<th style="width:50px;">構成</th>
									<td colspan=2>
										<% @meta_show_chars[index_string].split(',').each{|part| %>
											<%= part %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<% } %>
									</td>
								</tr>
								<% odd_or_even =1
								JpNewProperty.find(:all, :conditions=>["section='synthetic'"]).each{|property|
									odd_or_even = 1 - odd_or_even %>
									<tr <%= "class='odd'" if odd_or_even == 0 %> >
										<th><%= h(property.human_name) %></th>
										<td colspan=2>
											<% temp = JpSyntheticNewPropertyItem.find(:first, :conditions=>["property_id='#{property.id}' and ref_id=#{sub_structure.id}"])
											unless temp.blank? %>
												<% case property.type_field
													when 'category' %>
														<%= h(JpProperty.find(:first, :conditions=>["property_string='#{property.property_string}' and property_cat_id=#{temp.category}"]).tree_string) %>
													<% when 'text' %>
														<%= h(temp.text) %>
													<% when 'time' %>
														<%= h(temp.time.to_formatted_s(:db)) %>
												<% end
											end %>
										</td>
									</tr>
								<% } %>
				        	</table>
				        </div>
				    </fieldset>
				    <p>
				<% end %>
			</div>
	</div>
			<div style="float:left;margin-left:4%;width:46%;">
				<%= generate_tree_view(:root=>@lexeme.id, :ids=>@ids, :domain=>"jp") %>
				<div id="myTreeContainer"></div>
			</div>
		<% end %>
</div>
<script>window.onload=CreateTree();</script>