<div style="margin-left:20px;float:left;width:500px;">
	<div class="User-control" style="float:left; width:500px;">
		<fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
			<legend style="background: #1e2078;">
				中国語翻訳情報
			</legend>
			<div class="list" style="width:100%;">
				<table style="width:100%;">
					<% if @lexeme.senses.length > 0%>
					<%
					count = 0
					size = @lexeme.senses.length
					@lexeme.senses.each {
					|edit_sense|
					if size > 0
					count += 1
					%>
					<tr <%= "class='odd'" if count%2 == 0 %> >
						<th style='row-span: <%= edit_sense.get_translation_to_cn.length %>;'> <%= count%> </th>
						<% form_for edit_sense, :url => {:controller => 'jp', :action => 'update_sense', :sense_id => edit_sense.id} do |f|%> <td><%= f.text_field :text, :size=>15 %></td>
						<td><%= f.submit 'Update', :confirm => "Are you sure to update the content of this sense?" %></td>
						<td><%= f.submit 'Delete',:name => 'delete_button', :confirm => "Are you sure to delete this sense?"%></td>
						<%end%> <td> <% form_for edit_sense, :url => { :action => 'search_senses', :sense_id => edit_sense.id} do |h| %>
						<%= h.submit 'add trans'%>

						<% first_line = 0
						edit_sense.get_translation_to_cn.each do |tran|%>
						<tr <%= "id='myodd'" if first_line == 0%>>
							<td></td>
							<td><%= link_to h(tran.cn_lexeme.surface), :controller=>'cn', :action=>'show', :id=> tran.cn_lexeme.id %></td>
							<td><%= h tran.cn_lexeme.pos_item.tree_string %></td>
							
							<td>
							<%	temp = []
													tran.cn_lexeme.dictionary_item.list.each{|dict|
														next unless session[:jp_dict_id].include?(dict.to_i)
														temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>"
													}
												%>
												<%= temp.join("  ") %>
								
							</td>
							
							<td><%= link_to 'delete', :tran_id => tran, :controller => 'jp', :action => 'delete_trans', :sense_id => edit_sense.id %></td>
						</tr> <% first_line = 1 end %>

						<% end %></td>
					</tr>
					<% end%>
					<%} end%>
				</table>
			</div>
		</fieldset>
		<br/>
		<fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
			<legend style="background: #1e2078;">
				意味増加
			</legend>
			<div class="list" style="width:100%;">
				<% form_for @sense, :url => {:controller => 'jp', :action => 'create_sense', :lexeme_id => @lexeme.id} do |f|%> <td style="width: 20px"><%= f.text_field :text %></td>
				<td><%= f.submit "Create", :confirm => "Are you sure to add a new sense?"%></td>
				<% end %>
			</div>
		</fieldset>
		<table>
			<tr>
				<td><%= button_to '戻る', :action =>'show_trans', :id => @lexeme.id%></td>
			</tr>
		</table>
	</div>
</div>
