<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
	<title>Cradle--ChaSen Dictionary Management System</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag "cradle", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	
	<!-- For main menu... -->
	<%= stylesheet_link_tag "top_menu", :media => "all" %>

    <!-- For tree view -->
	<%= javascript_include_tag "ECOTree.js" %>
	<%= stylesheet_link_tag "ECOTree", :media => "all" %>
	
	<!-- For dumping progress bar -->
	<%= javascript_include_tag "jsProgressBarHandler.js" %>
</head>

<body id="ChaSen">
	<div>
		<div style="float:left; padding-top:10px;"><%= image_tag("matsu-logo.gif") %></div>
		
		<div id="banner" align="right">
			<div>
				<table style="width:95%;">
					<tr>
						<td style="width:5%;"></td>
						<td style="width:90%;"><%= @page_title || "Cradle--ChaSen Dictionary Management System" %></td>
						<td style="width:5%; text-align:right;">
							<%= image_tag("firefox.png", :style=>"vertical-align:bottom;") %>
							<%= image_tag("rails.png", :style=>"vertical-align:bottom;") %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div id="navigation">
		<% @user=User.find_by_id(session[:user_id])%>
	    <% if not @user.blank? %>
			<div class="top_menu">
				<ul>
					<li class="first_level_first"><%= link_to '日本語辞書', :controller => :jp, :action => :index %>
						<ul>
							<li><%= link_to 'Top', :controller => :jp, :action => :index %></li>
							<li><%= link_to '新規単語', :controller => :jp, :action => :new %></li>
							<li><%= link_to 'Root編集', :controller => :jp, :action => :define_root %></li>
							<% if @user.group_name == 'admin' %>
								<li><%= link_to '属性管理', :controller => :property, :action => :lexeme_property_index, :domain => 'jp' %>
									<ul>
										<li class="third_level_first"><%= link_to '単語属性', :controller => :property, :action => :lexeme_property_index, :domain => 'jp' %></li>
										<li><%= link_to '複合語属性', :controller => :property, :action => :synthetic_property_index, :domain => 'jp' %></li>
									</ul>
								</li>
							<% end %>	
						</ul>
					</li>
					<li class="first_level"><%= link_to '中文辞典', :controller => :cn, :action => :index %>
						<ul>
							<li><%= link_to 'Top', :controller => :cn, :action => :index %></li>
							<li><%= link_to '创建单词', :controller => :cn, :action => :new %></li>
							<% if @user.group_name == 'admin' %>
								<li><%= link_to '属性管理', :controller => :property, :action => :lexeme_property_index, :domain => 'cn' %>
									<ul>
										<li class="third_level_first"><%= link_to '单词属性', :controller => :property, :action => :lexeme_property_index, :domain => 'cn' %></li>
										<li><%= link_to '合成词属性', :controller => :property, :action => :synthetic_property_index, :domain => 'cn' %></li>
									</ul>
								</li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
			<div id="navigation-login" style="display:inline;">
				<%= @user.name %></td>
				 &nbsp | &nbsp
				<%= link_to 'Preferrence', :controller=>'/users', :action=>'chg_pwd' %>
				 &nbsp | &nbsp 
				<% if @user.group_name=="admin" %>
					<%= link_to 'User list', :controller=>'/users', :action=>'list_users' %>
					 &nbsp | &nbsp
				<% end %>
				<%= link_to 'Logout', :controller=>'/users', :action => 'logout' %>
			</div>
		<% else %>
			<div class="top_menu">
				<ul>
					<li class="first_level_first"><%= link_to '日本語辞書', :controller => :jp, :action => :index %></li>
				</ul>
			</div>
			<div id="navigation-login">
	        	<%= link_to 'Login', :controller=>'/users', :action => 'login' %>
			</div>
		<% end %>
	</div>
	<div id="main">
		<% if not flash.now[:notice].blank? %>
			<div id="notice"><%= flash.now[:notice] %></div>
		<% elsif not flash.now[:notice_err].blank? %>
			<div id="notice_err" ><%= flash.now[:notice_err] %></div>
		<% elsif not flash[:notice].blank? %>
			<div id="notice" ><%= flash[:notice] %></div>
		<% elsif not flash[:notice_err].blank? %>
			<div id="notice_err" ><%= flash[:notice_err] %></div>
        <% end %>
		<%= yield :layout %>
	</div>
</body>
</html>